QDockWidget QLabel#dockTitle {
    font-weight: bold;
    font-style: italic;
}

QDockWidget QLabel#fsTreeRoot {
    font-weight: bold;
}

QDockWidget QPushButton#btnSelectFolder {
    padding: 6px;
}